{% extends "base.html" %}
{% load static %}

{% block title %}Services{% endblock title %}

{% block body %}
<div class="container px-0">
    <h1 class="my-3 text-center">Only At @499</h1>
  
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static '5.avif' %}" class="d-block w-100" alt="First slide" style="height: 100%; object-fit: cover;">
          <div class="card-body">
            <p class="card-text"><b>Smoky Meat Feast </b>: loaded with pepperoni, sausage, and smoky goodness.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-secondary">Order</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static '6.avif' %}" class="d-block w-100" alt="First slide" style="height: 100%; object-fit: cover;">        <div class="card-body">
            <p class="card-text"><b>Napoli Basil Bliss </b> : Neapolitan-style pizza with basil and fresh mozzarella.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static '3.avif' %}" class="d-block w-100" alt="First slide" style="height: 100%; object-fit: cover;">        <div class="card-body">
            <p class="card-text"><b> Spicy Veggie Inferno </b> : bright cherry tomatoes, greens, and chili for that kick.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static '1.avif' %}" class="d-block w-100" alt="First slide" style="height: 100%; object-fit: cover;">        <div class="card-body">
            <p class="card-text"><b>Garlic Ranch Chicken Supreme </b> : creamy base with herbs and grilled chicken.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}